/* GENERALS */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    /* debug */
    background-color: #add8e6;
    min-height: 60px;
}

.header-box {
    display: flex;
    align-items: center;
    width: 70%;

}

.header-item {
    min-height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}



.header-logo {
    flex-grow: 1;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.header-nav {
    flex-grow: 2;
    justify-content: center;
    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.header-login {
    flex-grow: 1;
    justify-content: end;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}