/* GENERALS */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    /* debug */
    background-color: #add8e6;
    min-height: 60px;
}

.header-box {
    display: flex;
    align-items: center;
    width: 70%;

}

.header-item {
    min-height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}



.header-logo {
    flex-grow: 1;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.header-nav {
    flex-grow: 2;
    justify-content: center;
    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.header-login {
    flex-grow: 1;
    justify-content: end;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

/* MAIN */

.main-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    /* debug */

    min-height: 300px;
}

.sec-box {
    display: flex;
    align-items: center;
    width: 70%;
    /* debug */
    border: 1px dashed black;
}


/* main section 1 */

.sec-1 {

    /* debug */
    background-color: #00008b;

}

#box-1 {
    width: 50%;
    height: 250px;
    /* debug */
    border: 1px dashed black;
    background-color: #ee82ee;

}



/* main section 2 */

.sec-2 {
    /* debug */
    background-color: #ffffff;
}


.sec-2-box {
    display: flex;
    align-items: center;
    width: 70%;
    /* debug */
    border: 1px dashed black;
}

.section-item {
    height: 250px;
    /* debug */
    border: 1px dashed black;

}

.sec-2-item-1 {
    width: 60%;
    /* debug */
    background-color: #1e90ff;
}

.sec-2-item-2 {
    width: 40%;
    /* debug */
    background-color: #ffc0cb;
}


/* main section 3 */

.sec-3 {
    /* debug */
    background-color: #d3d3d3;
}

.sec-3-item-1 {
    width: 40%;
    /* debug */
    background-color: #ffc0cb;
}

.sec-3-item-2 {
    width: 60%;
    /* debug */
    background-color: #1e90ff;
}