/* GENERALS */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;

    /* debug */
    background-color: #add8e6;
    min-height: 60px;
}

.header-box {
    display: flex;
    align-items: center;
    width: 70%;

}

.header-item {
    min-height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}



.header-logo {
    flex-grow: 1;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.header-nav {
    flex-grow: 2;
    justify-content: center;
    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.header-login {
    flex-grow: 1;
    justify-content: end;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

/* MAIN */

.main-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    /* debug */

    min-height: 300px;
}

.sec-box {
    display: flex;
    align-items: center;
    width: 70%;
    /* debug */
    border: 1px dashed black;
}


/* main section 1 */

.sec-1 {

    /* debug */
    background-color: #00008b;

}

.box-1 {
    width: 50%;
}

#box-1 {
    width: 100%;
    height: 250px;

    /* debug */
    border: 1px dashed black;
    background-color: #ee82ee;

}



/* main section 2 */

.sec-2 {
    /* debug */
    background-color: #ffffff;
}


.sec-2-box {
    display: flex;
    align-items: center;
    width: 70%;
    /* debug */
    border: 1px dashed black;
}

.section-item {
    height: 250px;
    /* debug */
    border: 1px dashed black;

}

.sec-2-item-1 {
    width: 60%;
    /* debug */
    background-color: #1e90ff;
}

.sec-2-item-2 {
    width: 40%;
    /* debug */
    background-color: #ffc0cb;
}


/* main section 3 */

.sec-3 {
    /* debug */
    background-color: #d3d3d3;
}

.sec-3-item-1 {
    width: 40%;
    /* debug */
    background-color: #ffc0cb;
}

.sec-3-item-2 {
    width: 60%;
    /* debug */
    background-color: #1e90ff;
}


/* main sec 4 */

.sec-4 {
    /* debug */
    background-color: #ffffff;
}


.sec-4-box {
    display: flex;
    align-items: center;
    width: 70%;
    /* debug */
    border: 1px dashed black;
}

.section-item {
    height: 250px;
    /* debug */
    border: 1px dashed black;

}

.sec-4-item-1 {
    width: 60%;
    /* debug */
    background-color: #1e90ff;
}

.sec-4-item-2 {
    width: 40%;
    /* debug */
    background-color: #ffc0cb;
}


/* main sec 5 */

.sec-5 {

    /* debug */
    background-color: #d3d3d3;
    min-height: 500px;

}

.box-5 {
    width: 70%;
}

#box-5 {
    width: 100%;
    height: 450px;
    /* debug */
    border: 1px dashed black;
    background-color: #228b22;

}


/* footer */

.footer-sec-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* debug */
    background-color: #23272a;
    min-height: 300px;
}

.footer-sec-box {
    display: flex;
    align-items: center;
    width: 70%;
    height: 250px;
    /* debug */
    border: 1px dashed #fefefe;
}

.footer-sec-1-item-1 {
    width: 40%;
    /* debug */
    background-color: #f08080;
}

.footer-sec-1-item {
    width: 25%;
    /* debug */
    background-color: #20b2aa;
    border: 1px dashed #fefefe;

}

.footer-sec-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* debug */
    background-color: #23272a;
    min-height: 50px;
    border-top: 1px solid #959695;
}

.footer-secbox-2 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 40%;
    /* debug */
    background-color: #7fffd4;
}

.footer-secbox-2-item {
    flex-grow: 0;
    width: 10%;



    /* debug */
    border: 1px dashed black;
    background-color: #ffb6c1;

}

.footer-logo {
    margin: 10px 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bottone {
    margin: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}